# Database
DB_HOST=timescaledb
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=climate_monitor

# MQTT
MQTT_BROKER=tcp://emqx:1883
MQTT_TOPIC=weather/stations/#
MQTT_CLIENT_ID=climate-backend

# Server
SERVER_PORT=8080
PPROF_ENABLED=true

# Alerting
DINGTALK_WEBHOOK_URL=

# Simulator
SIMULATOR_STATIONS=50
SIMULATOR_INTERVAL=300
SIMULATOR_TEMP_MIN=15.0
SIMULATOR_TEMP_MAX=40.0
